{% extends "layout.html" %}
{% block body %}
</head>
<body>
    <h1>Compteur de Score</h1>
    <div class="scoreboard">
        <!-- Joueur 1 -->
        <div class="player" id="player1">
            <h2>Joueur 1</h2>
            <div class="score" id="score1">0</div>
            <div class="controls">
                <button onclick="incrementScore(1)">+1</button>
                <button onclick="decrementScore(1)">-1</button>
            </div>
        </div>

        <!-- Joueur 2 -->
        <div class="player" id="player2">
            <h2>Joueur 2</h2>
            <div class="score" id="score2">0</div>
            <div class="controls">
                <button onclick="incrementScore(2)">+1</button>
                <button onclick="decrementScore(2)">-1</button>
            </div>
        </div>
    </div>

    <!-- Bouton de réinitialisation -->
    <div class="reset">
        <button onclick="resetScores()">Réinitialiser</button>
    </div>

    <!-- Bouton pour revenir à la page d'accueil -->
    <div class="back-home">
        <button onclick="goHome()">End Game</button>
    </div>

    <script>
        // Variables pour stocker les scores des joueurs
        let score1 = 0;
        let score2 = 0;

        const gameCode = "{{ game_code }}";
        console.log("Code de la partie:", gameCode);

        // Fonction pour incrémenter le score d'un joueur
        function incrementScore(player) {
            if (player === 1) {
                score1++;
                document.getElementById('score1').textContent = score1;
            } else if (player === 2) {
                score2++;
                document.getElementById('score2').textContent = score2;
            }
        }

        // Fonction pour décrémenter le score d'un joueur
        function decrementScore(player) {
            if (player === 1 && score1 > 0) {
                score1--;
                document.getElementById('score1').textContent = score1;
            } else if (player === 2 && score2 > 0) {
                score2--;
                document.getElementById('score2').textContent = score2;
            }
        }

        // Fonction pour réinitialiser les scores des joueurs
        function resetScores() {
            score1 = 0;
            score2 = 0;
            document.getElementById('score1').textContent = score1;
            document.getElementById('score2').textContent = score2;
        }

        // Fonction pour rediriger vers la page d'accueil
        function goHome() {
            fetch('/join_game', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({ game_code: code })
                        })
        }
    </script>
</body>
{% endblock %}
