{% extends "layout.html" %}
{% block body %}
    <form action="/register" method="post" enctype="multipart/form-data">
        <div class="regis">
            <h1>Fill in your information</h1>
            <input autocomplete="off" autofocus name="mail" placeholder="E-mail" type="email" required>
            <input autocomplete="off" autofocus name="name" placeholder="Name" type="text" required>
            <input autocomplete="off" autofocus name="username" placeholder="Username" type="text" required>
            <input autocomplete="off" autofocus name="pwd" placeholder="Password" type="password" required>
            <label for="status"> Make profile public?
                <input type="checkbox" id="status" name="status">
            </label><br>
            <button type="submit">Register</button>
            <a href="/login">Already have an account? Log in!</a>
        </div>
    </form>
{% endblock %}